footer {
		padding:50px;
		bottom:0;
		left:0;
		right:0;
		height:180px;
		display:block;
		text-align: center;
	}
	.header {
		display:block;
		position:fixed;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		left:0;
		right:0;
	}